@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Importowanie bazowych stylów Tailwind, komponentów i narzędzi */
@import "tailwindcss";

/* Definicja niestandardowych właściwości (zmiennych CSS) dla kolorów i cieni neonowych */
@theme {
  --color-glow-blue: #00ccff; /* Jaśniejszy, bardziej elektryczny niebieski */
  --color-glow-red: #ff007f;  /* Intensywny różowy/magenta dla lepszego kontrastu */

  --shadow-neon-blue: 0 0 7px var(--color-glow-blue),
                      0 0 12px var(--color-glow-blue),
                      0 0 18px var(--color-glow-blue);

  --shadow-neon-red: 0 0 7px var(--color-glow-red),
                     0 0 12px var(--color-glow-red),
                     0 0 18px var(--color-glow-red);
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: theme('colors.gray.900'); /* Upewnienie się, że tło body jest ciemne */
}


.neon-bg-blue {
    background-color: var(--color-glow-blue);
    box-shadow: var(--shadow-neon-blue);
}

.neon-bg-red {
    background-color: var(--color-glow-red);
    box-shadow: var(--shadow-neon-red);
}

/* Klasa do podświetlania wiersza śledzonego gracza */
.tracked-player-highlight {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

/* Usunięto .neon-text-blue i .neon-text-red, ponieważ tekst obrażeń jest teraz biały */

